{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "components",
          "@api": "api",
          "@models": "models",
          "@screens": "pages",
          "@hooks": "hooks",
          "@services": "services",
          "@constants": "constants",
          "@context": "context",
          "@queries": "queries",
          "@data": "data",
          "@typeDefs": "types",
          "@generated": "generated",
          "@utils": "utils",
          "@public": "./public"
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
